<section class="app-papper row justify-content-between" data-controller="customers">
  <%= render partial: 'shared/searchs/search_customers', locals: {kind: 'provider'} %>
  <div class="col-12" id="search_results_providers_index">
    <%= render partial: 'shared/tables/table_customers', locals: { customers: @providers, kind: 'provider'} %>
    <%= render partial: 'shared/pagination', locals: { records_pagination: @providers } %>
  </div>
</section>
