<%= turbo_frame_tag "modal_confirm_transfer" do %>
  <div id="myModal2" class="modal2">
    <div class="modal-content2">
      <h2>Confirmar Cotización</h2>
      <div class="my-4">
        <%= render "shared/forms/form_confirm_transfer",
            locals: { pos_session: @pos_session } %>
      </div>
    </div>
  </div>
<% end %>
