<section class="app-papper row">
  <div class="col-12">
    <h1 class="mb-4">¡Bienvenido a Remedium!</h1>
    <div>
      <p>
        El mejor software para la gestion de tu inventario
        y puntos de ventas, con la modalidad de facturacion eletrónica en linea.
      </p>
    </div>
  </div>
</section>
