<section class="mb-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-7 px-4 app-papper">
      <h5 class="mb-5 mt-2 text-center">
          <%= t("customer.kind.edit.#{kind}") %>
      </h5>
      <%= render partial: 'shared/customers/form', locals: {kind: kind, obj: obj, action: 'edit'} %>
    </div>
  </div>
</section>