
* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
.loguear-container 		{
  width: 400px;
  margin:10px auto 0;
  display:block;
  padding:30px 30px 0px 40px;
}

.product-form-container 		{
  width:100%;
  margin:1em auto 0;
  display:block;

}
.user-form-container 		{
  width:50%;
  margin: 0 auto;
  display:block;
  padding:30px 30px 10px 40px;
  border-radius: 15px;
}

.warehouse-container 		{
  width:50%;
  margin: 0 auto;
  display:block;
  padding:30px 30px 10px 40px;
  border-radius: 15px;
}
.user-form-container 		{
  width:50%;
  margin: 0 auto;
  display:block;
  padding:30px 30px 10px 40px;
  border-radius: 15px;
}

/* form starting stylings ------------------------------- */
.app-form-group 			  {
  position: relative;
  margin-bottom:25px;
}


.app-form-field 				{
  font-size: 1rem;
  padding: 0.3em 0.7em 0.7em 0.5em;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #757575;
}

.app-form-field:focus 		{ outline:none; }

/* LABEL ======================================= */
.app-form-label {
  color:#999;
  font-size: 0.9rem;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.app-form-label-select{
  position:absolute;
  font-size: 0.9rem;
  left:5px;
  top:-20px;
  color:#0F6DFC;
}
 select {
  font-size:0.9rem;
  padding: 0.3em 0.7em 0.7em 0.5em;
  background-color: #E8F0FE;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #757575;
}
/* active state */
.app-form-field:focus ~ .app-form-label, .app-form-field:valid ~ .app-form-label 		{
  top:-20px;
  font-size:1rem;
  color:#0F6DFC;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width: 100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#0F6DFC;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.app-form-field:focus ~ .bar:before, .app-form-field:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100%;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.app-form-papper{
    background-color: rgb(255 255 255 / 1);
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1),
      0 1px 2px -1px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
      0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
    padding:10px 30px 0px 40px;
    border-radius: 0.5rem;
    margin: 0 auto;
}
/* active state */
.app-form-field:focus ~ .highlight {flex-direction: row;
  -webkit-animation:app-form-fieldHighlighter 0.2s ease;
  -moz-animation:app-form-fieldHighlighter 0.2s ease;
  animation:app-form-fieldHighlighter 0.2s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes app-form-fieldHighlighter {
	from { background:#0F6DFC; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes app-form-fieldHighlighter {
	from { background:#0F6DFC; }
  to 	{ width:0; background:transparent; }
}
@keyframes app-form-fieldHighlighter {
	from { background:#0F6DFC; }
  to 	{ width:0; background:transparent; }
}

.app-form-button {
  white-space: nowrap;
  font-size: 1rem;
  width: 10rem;
}

.warehouse-button {
  white-space: nowrap;
  font-size: 1rem;
  width: 8rem;
}

.app-card-warehouse-btn {
  white-space: nowrap;
  font-size: 1rem;
}

.app-card-warehouse-icon {
  font-size: 1.5rem;
}

label.required:after {
  content:" *";
  color: gray;
}

/* para resoluciones menores a 300px*/
@media screen and (max-width:300px) {

  select, .app-form-label-select {
    font-size: 0.7rem;
  }

  .user-form-container 		{
    width: 100%;
    padding:10px 10px 10px 10px;
    border-radius: 0.5rem;
  }

  .warehouse-button {
  font-size: 0.7rem;
  width: 5rem;
  }

  .warehouse-container 		{
    width:100%;
    margin: 0 auto;
  }

  .app-form-button, .app-form-field, .app-form-label {
    font-size: 0.6rem;
  }

  .app-form-field:focus ~ .app-form-label, .app-form-field:valid ~ .app-form-label 		{
    top:-1rem;
    font-size: 0.6rem;
  }

  .app-form-button {
    white-space: nowrap;
    width: 6rem;
  }

  .app-form-papper{
    padding:1em 1em 0px 1.2em;
  }
}

/* Ejecuta el CSS en pantalas cuya ancho tenga como máximo 420px */
/* Es decir, lo ejecuta hasta resoluciones de 420px */
@media screen and (min-width:301px) and (max-width:420px) {

  select, .app-form-label-select {
    font-size: 0.8rem;
  }

  .user-form-container 		{
    width: 100%;
    padding:10px 10px 10px 10px;
    border-radius: 0.5rem;
  }


  .warehouse-button {
    font-size: 0.8rem;
    width: 5rem;
  }

  .warehouse-container 		{
    width:90%;
    margin: 0 auto;
    border-radius: 0.5rem;
  }

  .app-form-button, .app-form-field, .app-form-label {
    font-size: 0.8rem;
  }

  .app-form-field:focus ~ .app-form-label, .app-form-field:valid ~ .app-form-label 		{
    top:-1.2rem;
    font-size: 0.7rem;
  }

  .app-form-button {
    white-space: nowrap;
    width: 6rem;
  }

  .app-form-papper{
    padding:1em 1em 0px 1.2em;
  }

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 421px) and (max-width: 768px) {

  select, .app-form-label-select {
    font-size: 0.9rem;
  }

  .user-form-container 		{
    width: 90%;
    padding:10px 10px 10px 10px;
    border-radius: 0.5rem;
  }


  .warehouse-button {
  font-size: 0.8rem;
  width: 5rem;
  }

  .warehouse-container 		{
    width: 85%;
    margin: 0 auto;
    border-radius: 0.5rem;
  }


  .app-form-button, .app-form-field, .app-form-label {
    font-size: 0.9rem;
  }

  .app-form-field:focus ~ .app-form-label, .app-form-field:valid ~ .app-form-label 		{
    top:-1.2rem;
    font-size: 0.8rem;
  }

  .app-form-button {
    white-space: nowrap;
    width: 10rem;
  }

  .app-form-papper{
    padding:1em 1em 0px 1.2em;
  }

}

/* Ejecuta el CSS en pantallas cuyo ancho tenga como mínimo 768px */
/* Es decir, lo ejecuta a partir de 768px en adelante */
@media screen and (min-width:769px) and (max-width:991px){
  .app-card-warehouse-btn  {
    font-size: 0.9rem;
    width: 6rem;
  }

  .app-card-warehouse-icon {
    font-size: 1.3rem;
  }

  select, .app-form-label-select {
    font-size: 0.9rem;
  }

  .user-form-container 		{
    width: 85%;
    border-radius: 0.5rem;
  }


  .warehouse-button {
    font-size: 0.8rem;
    width: 6rem;
  }

  .warehouse-container 		{
    width:75%;
    margin: 0 auto;
    border-radius: 0.5rem;
  }

  .app-form-button, .app-form-field, .app-form-label {
    font-size: 0.9rem;
  }

  .app-form-field:focus ~ .app-form-label, .app-form-field:valid ~ .app-form-label 		{
    top:-1.3rem;
    font-size: 0.8rem;
  }
}
