
<section class="account-show-container h-100 bg-white">
  <div class="d-flex justify-content-center align-items-center mt-5" >
    <img src="<%= asset_path('en_construccion.png')%>" alt="En construccion" >
  </div>
</section>
